<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291763218621-2rtij8v61qeiurapiks3b4j9ihf3ipvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291763218621-2rtij8v61qeiurapiks3b4j9ihf3ipvt</string>
	<key>API_KEY</key>
	<string>AIzaSyB6q0DzljOEyQyR8VuYwDGY7EbE1hH_oXg</string>
	<key>GCM_SENDER_ID</key>
	<string>291763218621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.mptone</string>
	<key>PROJECT_ID</key>
	<string>mptone</string>
	<key>STORAGE_BUCKET</key>
	<string>mptone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291763218621:ios:5c1345b79dc5c35ed8afd4</string>
	<key>DATABASE_URL</key>
	<string>https://mptone.firebaseio.com</string>
</dict>
</plist>